{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block name %}Page d'accueil{% endblock %}

{% block container %}
    <p>Page d'accueil</p>
    <img src="{{ asset('img/symfony.png') }}" alt="Symfony">
{% endblock %}