{% extends "base.html.twig" %}

{% block title %}Add a new idea{% endblock %}

{% block name %}Idea > Add{% endblock %}

{% block container %}
    
    <h1>Add a new idea</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}


{% endblock %}
